html, body, section, div {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-image: url("../img/tegernsee3.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

html {
  font-size: 1vw;
}

header {
  display: none;
}

label:hover{
  background-color: rgba(105,105,105,0.4);
  color: inherit;
}

a:hover{
  background-color: rgba(105,105,105,0.4);
  color: inherit;
}

#idx-start {
  color: inherit;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  /* border:2px solid red; */
}

h1 {
  border: 2px solid whitesmoke;
  width: 90%;
  height: 30rem;
  font-size: 8rem;
  font-weight: 700;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  margin-top: 40rem;
  padding: 1rem;
  text-transform: uppercase;
  background-color: rgba(245,245,245, 0.8);
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  transition-property: background-color;
  transition-duration: 4s;
  transition-timing-function: ease;
}

footer {
  position: fixed;
  bottom:0;
  right:0;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-size: 6rem;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid rgba(255,255,255,0.5);
  text-decoration: none;
  background-color: rgba(245,245,245, 0.6);
}

footer a{
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 200%;
  text-decoration: none;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.5);
}

footer a i {
  color: rgba(0, 0, 0, 0.7);
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  padding-right: 10rem;
}

.sect{
  width: 90%;
  font-size: 3rem;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(245,245,245, 0.9);
  align-items: flex-start;
  margin: 1rem auto;
  margin-bottom: 50rem;
}

.heading {
  width: 90%;
  font-size: 6rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 1rem 0rem 1rem;
  font-style: normal;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(245,245,245, 0.7);
}

article {
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  text-transform: uppercase;
  word-spacing: 3px;
  font-weight: bolder;
  color: inherit;
  letter-spacing: 2px;
  line-height: 1.5;
  background-color: rgba(245,245,245, 0.7);
  align-self: center;
}

p {
  background-color: rgba(245,245,245, 0.7);
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  font-style: normal;
  font-weight: 300;
}

p::first-letter {
  font-size: 5rem;
}
