/* body {
img {
  height: 200px;
  margin: 2% auto;
  align-self: center;
}

  width: 90%;
} */

a {
font-size: 1.2rem;}

article {
  width: 50%;
}

figure {
  margin: 0 auto;
  width: 38%;
}


img {
  height:50vh;
  margin: 2% auto;
}

iframe {
  height:50vh;

}

header {
  height: 30vh;
  font-size: 3rem;}
